@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: darkslategray;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    color: floralwhite;
    font-size: calc(4em + 1vh);
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: flipInX;
    animation-duration: 2s;
}

h2 {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
  text-align: center;
  color: floralwhite;
  font-size: calc(2em + 1vh);
}


/* Style the hamburger menu toggle. */

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fafafa, 0 0 0 100vh #fafafa;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul { opacity: 1; }


/* Style the fullscreen nav menu. */

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #fafafa;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #fafafa, 0 0 0 0 #fafafa;
  cursor: pointer;
  touch-action: none;
}

label ul {
  list-style: none;
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height : 70vh;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .4s 0s ease-in-out;
  transition: .4s 0s ease-in-out;
}

label a {
  text-align : center;
  font-size: 1.5em;
  margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
}

label a:hover {
  color: #ffad42;
}

.links_list {
  list-style: none;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.links_list .iconsS {
  text-align : center;
  display: flex;
  text-decoration: none;
  width: 40%;
}

.links_list .icons img {
  size: 10vh;
}


  /* animations */
  
  @keyframes flipInX {
    from {
      -webkit-transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, 90deg);
      transform: translate(-50%, -50%)  perspective(400px) rotate3d(1, 0, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      -webkit-transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, -20deg);
      transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  
    60% {
      -webkit-transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, 10deg);
      transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, -5deg);
      transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
      -webkit-transform: translate(-50%, -50%) perspective(400px);
      transform: translate(-50%, -50%) perspective(400px);
    }
  }