@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: darkslategray;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    color: floralwhite;
    font-size: calc(4em + 1vh);
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: flipInX;
    animation-duration: 2s;
}
  
.line {
    position: relative;
    height: 2px;
    width: 30px;
    background: black;
    top: 60%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 5px;
}
    
  
.hamburger {
    position: absolute;
    cursor: pointer;
    width: 200px;
    height: 200px;
    right: -100px;
    top: -100px;
    background-color: #fafafa;
    border-radius: 50%;
    z-index: 1;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #fafafa, 0 0 0 0 #fafafa;
}

.hamburger.open {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    border-radius: 0;
    box-shadow: 0 0 0 100vw #fafafa, 0 0 0 100vh #fafafa;
}
  
.nav-links {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    touch-action: none;
}

.nav-links.open {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    opacity: 1;
    pointer-events: all;
}
    
    
.nav-links li a {
    color: #000;
    font-size: 1.5em;
    /*margin-bottom: 1em;*/
    text-decoration: none;
    text-align : center;
    display: block;
}

.nav-links li a:hover {
    color: #ffad42;
}


  /* animations */
  
  @keyframes flipInX {
    from {
      -webkit-transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, 90deg);
      transform: translate(-50%, -50%)  perspective(400px) rotate3d(1, 0, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      -webkit-transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, -20deg);
      transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  
    60% {
      -webkit-transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, 10deg);
      transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, -5deg);
      transform: translate(-50%, -50%) perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
      -webkit-transform: translate(-50%, -50%) perspective(400px);
      transform: translate(-50%, -50%) perspective(400px);
    }
  }