@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

#particles-js {
  height: 100vh;
}

main {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  font-weight: 500;
}


section {
  font-family: "Rubik", sans-serif;
  font-size: min(max(1rem, 2vw), 18px);
  font-weight: 500;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  box-sizing: border-box;
  width: 7em;
  height: 7em;
  box-shadow: 0 4px 4px rgba(48, 43, 43, 0.25);
  border-radius: 50%;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.953em;
  font-weight: 800;
  text-align: center;
  margin-top: 0.5em;
}

nav {
  flex-grow: 4;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  background-color: transparent;
}

.nav-links li {
  padding: 7px 7px;
  margin: 2vh 2% 2vh 0;
  list-style: none;
  text-align: center;
  text-decoration: none;
}

.nav-links li:hover {
  border-radius: 25px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.nav-links a {
  font-family: "Rubik", sans-serif;
  font-size: min(max(1rem, 4vw), 22px);
  font-weight: 400;
  text-align: center;
  color: black;
}

.nav-links li a:hover {
  color: #ffad42;
}

section h3 {
  font-family: "Rubik", sans-serif;
  font-size: max(min(1rem, 2vw), 50px);
  font-weight: 800;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

section p {
  font-size: min(max(1rem, 2vw), 24px);
  font-weight: 400;
}

#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  gap: 1rem;
  margin-top: 1em;
  margin-bottom: 2em;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.project-card h4 {
  font-family: "Rubik", sans-serif;
  font-size: min(max(2rem, 4vw), 22px);
  font-weight: 600;
  margin: 0.5em 0.5em;
  text-align: center;
}

.project-card a {
  color: #000;
}

.project-card a:hover {
  color: #ffad42;
}

.project-card p {
  margin: 0.5em 0.5em 1em 0.7em;
  text-align: center;
}

.project-description {
  font-family: "Rubik", sans-serif;
  font-size: min(max(1rem, 2vw), 18px);
  font-weight: 400;
}

.project-language {
  font-family: "Rubik", sans-serif;
  font-size: min(max(1rem, 2vw), 18px);
  font-weight: 300;
}


.contacts {
  display: flex;
  justify-content: space-around;
}

.contacts div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  padding: 7px 7px;
}

.contacts div:hover {
  border-radius: 25px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.contacts img {
  height: 8vh;
  width: 8vw;
}

.contacts p {
  margin-top: 5px;
  font-weight: 400;
}
.contacts a:hover {
  color: #ffad42;
}

.transition-fade {
  transition: 0.5s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

@media (max-width: 900px) {
    
  #projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 779px) {

  #projects {
    grid-template-columns: 1fr;
  }

  .contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}